<h1>merge Beta</h1>
<div>
	<br />
	<!-- METHODNAMES: {{mergeCtrl.methodNames}} -->
	<br />
	<div ng-repeat="experiment in mergeCtrl.experiments">
		<pre>Date = {{experiment.date |  date : 'medium'}}</pre>
		<pre>Id = {{experiment.id}}</pre>
		<pre>Problem best mode = {{experiment.problemBestMode}}</pre>
		<pre>Time limit = {{experiment.timeLimit}}</pre>
		<pre>Methods</pre>

		<ul>

			<li ng-repeat="method in experiment.methods">
				<div ng-repeat="methodName in mergeCtrl.methodNames">
					<b ng-show="methodName.expId === method.id">
					Name: {{methodName.expName}}</b>
				</div>
				<ul>
					<li ng-repeat="methodProp in method.properties.sortedProperties">
						{{methodProp.key}} : {{methodProp.value}}</li>
				</ul>
			</li>
		</ul>
		<br />
		<pre>Instances</pre>
		<table class="table">
			<tr>
				<th
					ng-repeat="headerProp in experiment.instances[0].properties.sortedProperties">{{headerProp.key}}</th>
			</tr>
			<tr ng-repeat="instance in experiment.instances">
				<td ng-repeat="prop in instance.properties.sortedProperties">{{prop.value}}</td>
			</tr>
		</table>
	</div>
</div>
<h1>end merge</h1>