.page-header {
	  margin-top: 0px;
	  background-image: linear-gradient(to bottom,#101010 0,#285379 100%);
	  color: #ECF3FA;
	  padding: 15px;
}
.page-header a {
	  color: #ECF3FA;
	  text-decoration: none;
}
.header-small {
	color: #D9E8F4;
}
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #D9E8F4;
 }
 .table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #ECF3FA;
 }
 .hidespan {
 	 display: none;
 }
 ul {list-style-type: none;}