<nav class="navbar-default navbar-static-side " role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li>
                <a   ng-href="#/"><i class="fa fa-th-large"></i> <span class="nav-label">Index</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
<!--                 	<li><a target="_self" href="##zona1">Report configurations</a></li> -->
                	<li><a>Report configurations</a></li>
                	<li><a>Summary</a></li>
                	<li><a>Statistical tests</a></li>
                	<li><a>Detailed by instance</a></li>
                	<li><a>Grouped by properties</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>