body {
	padding-top: 60px;
	padding-bottom: 40px;
}

table.dataTable tbody th,table.dataTable tbody td,.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	padding: 2px 4px;
}

.table.dataTable {
	margin: 0 20px;
	width: auto;
}

.info {
	background-color: lightblue !important;
}

.dataTables_wrapper {
	padding: 20px;
}

.table-col-hide:before {
	content: "✓ ";
}

.table-col-hide.table-col-hidden:before {
	content: "x ";
}

@media ( min-width : 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
}