
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$optsicom-page-primary: mat-palette($mat-blue-gray, 900);
$optsicom-page-accent: mat-palette($mat-blue-gray, 600);

// The warn palette is optional (defaults to red).
$optsicom-page-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$optsicom-page-theme: mat-light-theme($optsicom-page-primary, $optsicom-page-accent, $optsicom-page-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($optsicom-page-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #E1E2E1;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* General CSS */
.text-upper {
    text-transform: uppercase;
}
  
.text-center {
    text-align: center;
}
  
.cursor-pointer {
    cursor: pointer;
}

/* Footer sticky */
.sticky-footer {
    position: -webkit-sticky; 
    position: sticky; 
    top: calc(100% - 40px);
}
  
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    .sticky-footer{
        position: fixed; 
        width: 100%;
    }
}
  
@supports (-ms-accelerator:true) {
    /* IE Edge 12+ CSS */ 
    .sticky-footer {
        position: fixed; 
        width: 100%;
    }
}

@supports (-ms-ime-align:auto) {
    /* IE Edge 16+ CSS */ 
    .sticky-footer {
        position: fixed; 
        width: 100%;
    }
}

/* Loading Spinner */

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: mat-color($optsicom-page-primary) 1.5em 0 0 0, mat-color($optsicom-page-primary) 1.1em 1.1em 0 0, mat-color($optsicom-page-primary) 0 1.5em 0 0, mat-color($optsicom-page-primary) -1.1em 1.1em 0 0, mat-color($optsicom-page-primary) -1.5em 0 0 0, mat-color($optsicom-page-primary) -1.1em -1.1em 0 0, mat-color($optsicom-page-primary) 0 -1.5em 0 0, mat-color($optsicom-page-primary) 1.1em -1.1em 0 0;
    box-shadow: mat-color($optsicom-page-primary) 1.5em 0 0 0, mat-color($optsicom-page-primary) 1.1em 1.1em 0 0, mat-color($optsicom-page-primary) 0 1.5em 0 0, mat-color($optsicom-page-primary) -1.1em 1.1em 0 0, mat-color($optsicom-page-primary) -1.5em 0 0 0, mat-color($optsicom-page-primary) -1.1em -1.1em 0 0, mat-color($optsicom-page-primary) 0 -1.5em 0 0, mat-color($optsicom-page-primary) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  @-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  