<!DOCTYPE HTML>
<html layout:decorator="layout/default"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div layout:fragment="content">

		<div class="row">

			<div class="col-sm-2 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav affix">
					<li class=""
						th:each="reportBlock, iterBlock : ${report.reportBlocks}"><a
						th:href="'#block-'+${iterBlock.index}"><i
							class="icon-chevron-right"></i><span
							th:text="${reportBlock.name}"></span></a></li>
				</ul>
			</div>

			<div class="col-sm-7">
				<div th:each="reportBlock, iterBlock : ${report.reportBlocks}">

					<h1 th:id="'block-'+${iterBlock.index}"
						th:text="${reportBlock.name}">Report block name</h1>

					<div th:each="reportPage, iterPage : ${reportBlock.ReportPages}">

						<h2 th:id="'block-'+${iterBlock.index}+'-page-'+${iterPage.index}"
							th:text="${reportPage.name}"
							th:if="${reportBlock.ReportPages.size()} > 1">Page name</h2>

						<div
							th:each="reportElement, iterTable : ${reportPage.reportElements}"
							style="display: block"
							th:with="tableId='block-'+${iterBlock.index}+'-page-'+${iterPage.index} + '-table-' + ${iterTable.index}">

							<button
								th:text="${reportElement.columnTitles[iterTitle.index].title}"
								th:each="title, iterTitle: ${reportElement.columnTitles}"
								class="table-col-hide btn btn-xs btn-primary"
								th:attr="data-target=${tableId}">x</button>

							<table th:id="${tableId}" class="display table table-striped">

								<thead>
									<tr
										th:each="i: ${#numbers.sequence(0,reportElement.columnTitles[0].attributes.size()-1)}">
										<th></th>
										<th th:each="title: ${reportElement.columnTitles}"
											th:text="${title.attributes[i].title}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="rowCells,iter: ${reportElement.cellValues}">
										<td th:text="${reportElement.rowTitles[iter.index].title}"></td>
										<td th:each="cell: ${rowCells}"
											th:class="${cell} != null and ${cell.color} != null? 'highlighted' : ''">


											<span th:if="${cell} != null" th:text="${cell.format()}"></span>
											<span th:unless="${cell} != null">#</span>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>