<!DOCTYPE html>
<html lang="en" layout:decorator="layout/page"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div layout:fragment="content">

		<link rel="stylesheet" href="css/login.css" />
		<form class="form-signin" role="form" action="/experiments">
			<h2 class="form-signin-heading">Opsticom Dashboard</h2>
			<input type="text" class="form-control" placeholder="Email address"
				required="" autofocus="" /> <input type="password"
				class="form-control" placeholder="Password" required="" />
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me" />
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>

	</div>
</body>
</html>